[Unit]
Description=iRODS server
Documentation=https://docs.irods.org/
After=mysql.service postgresql.service mariadb.service

[Service]
Type=simple
Restart=always
User=irods
ExecStartPre=/var/lib/irods/irodsctl check
ExecStart=/usr/sbin/irodsServer -u
ExecStop=/var/lib/irods/irodsctl grid_shutdown

[Install]
WantedBy=multi-user.target
